<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link id="favicon_32" rel="icon" href="img/icon/Yellow32.png" sizes="32x32">
    <link id="favicon_192" rel="icon" href="img/icon/Yellow192.png" sizes="192x192">
    <title><%= serverName %> – Tally</title>
    <link href="css/fonts.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jQuery.js"></script>
    <script type="text/javascript">
      let CamNum = <%= camera %>;
      let client = true;
      let servers = ["<%= host %>"];
    </script>
    <link rel="stylesheet" href="css/tally.css">
  </head>
  <body>
    <main id="t_indicatior">
      <div id="settings">
      </div>
      <div id="t_chngCont" class="hidden">
        <button id="t_chngMinus"></button>
        <div id="t_chngCamNum"><%= camera %></div>
        <button id="t_chngPlus"></button>
      </div>
      <div id="t_camnum">
        <%= camera %>
      </div>
    </main>
    <script type="text/javascript" src="js/tally.js"></script>
  </body>
</html>
